@import 'compass/css3';

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{"$animationName"} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

body {
	height: 100%;
	width: 100%;
	background: white;
	overflow:hidden;
}

.container 
{
	display: None;
    width: 100px;
    height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 0;
	margin:auto;
	@include transform(scale(0.6));
}
.container div
	{
		position: absolute;
	}
	.container .glass {
		height: 420px;
		width: 250px;
		border:3px solid rgba(255, 255, 255, 0.5);
		@include border-radius(300px 300px 0px 0px);
		left: -80px;
		top: -100px;
		border-bottom:15px solid rgba(255, 255, 255, 0.5);
    }
    .container .glass:after {
		    width: 8px;
		    background: rgba(255, 255, 255, 0.28);
		    content: '';
		    position: absolute;
		    height: 80px;
		    top: 430px;
		    border-radius: 100px;
		    left: 10px;
		    top: 180px;
		}
		.container .glass:before {
			width: 8px;
			background: rgba(255, 255, 255, 0.28);
			content: '';
			position: absolute;
			height: 15px;
			top: 430px;
			border-radius: 100px;
			left: 10px;
			top: 280px;
		}
	.glow {
		position:absolute;
		width: 170px;
		height: 170px;
		@include border-radius(100%);
		border:1px solid rgba(245, 148, 184, 0.47);
		box-shadow: 0px 0px 10px rgba(245, 148, 184, 1);
		left: -40px;
		top: -40px;
		@include transition(all 0.5s ease);
		@include animation(glowing 2.5s ease-in-out infinite);
	}
		.rose-petals>div {
			background: #d52d58;
			width: 45px;
			height: 80px;
			position: absolute;
			@include transition(all 0.5s ease-out);
		}
		.rose-petals>div:nth-child(1) {
			border-radius: 15px;
			left: 20px;
			top: -6px;
			background: #d52d58;
		}
		
		.rose-petals>div:nth-child(2),
		.rose-petals>div:nth-child(4),
		.rose-petals>div:nth-child(6){
			border-radius:  0px 30px 0px 30px;
			background: #b81b43;
			left:0;
			transform-origin:bottom right;
		}
		
		.rose-petals>div:nth-child(3),
		.rose-petals>div:nth-child(5),
		.rose-petals>div:nth-child(7){
			border-radius:  30px 0px 30px 0px;
			left: 40px;
			transform-origin:bottom left;
		}
		@for $i from 2 to 8 {
			$background:'';
			$top:'';
			$h:'';
			@if($i==2 or $i==3) {
				$background: #9e183a;
				$top:10px;
				$h:70px;
			}
			@if($i==4 or $i==5) {
				$background: #b81b43;
				$top:5px;
				$h:75px;
			}
			@if($i==6 or $i==7) {
				$background: #c9204b;
			}
			
			&>div:nth-child(#{$i}) {
				@include animation(openRose+$i 3s ease-in-out);
				@include animation-fill-mode(forwards);
				z-index:7-$i;
				background: $background;
				top:$top;
				height:$h;
				@include animation-delay(2s)
			}
		}
		
		.rose-leaves>div:nth-last-child(1) {
		    width: 55px;
		    height: 30px;
		    background: #338f37;
		    position: absolute;
		    top: 60px;
		    left: 15px;
		    @include border-radius(100px);
		}
		.rose-leaves > div:nth-child(1) { 
			width: 6px;
			height: 230px;
			border: none;
			top: 80px;
			background: #066406;
			left: 40px;
		}
		.thorns > div {
			width: 30px;
			height: 30px;
			background: #066406;
			top: 100px;
			left: 10px;
        }
        .thorns > div:after {
				width: 41px;
				height: 31px;
				@include border-radius(100%);
				background: #122139;
				content: "";
				position: absolute;
				left: -12px;
				top: 17px;
			}
			.thorns > div:before {
				width: 41px;
				height: 31px;
				@include border-radius(100%);
				background: #122139;
				content: "";
				position: absolute;
				left: -11px;
				top: -11px;
				z-index: 0;
			}
			
			.thorns > div:nth-child(2) {
				top: 150px;
				@include transform(rotate(180deg));
				left: 45px;
			}
			.thorns > div:nth-child(3) {
				top: 180px;
			}
			.thorns > div:nth-child(4) {
				top: 220px;
				@include transform(rotate(180deg));
				left: 45px;
			}
			
	
	.sparkles {
		bottom: -40px;
    }
    .sparkles > div{
			width: 4px;
			height: 4px;
			border-radius: 100px;
			background:#ff96c0;
			box-shadow: 0px 0px 12px 2px #ff4e85;
			bottom:0;
			opacity: 0;
			@include animation(sparkle 4s ease-in-out infinite);
		}
		@for $i from 1 to 10{
			&>div:nth-child(#{$i}) {
				left: randomNum(-100,180)+px;
				@include animation-delay(randomNum(1,3)+s);
			}			
		}
@include keyframes(sparkle) {
	50%{opacity:1;}
	100%{bottom:250px;}
}
@include keyframes(openRose2){
	50% {
		@include transform(rotate(-90deg));
		top:80px;
		left: 100px;
	}
	100% {
		@include transform(rotate(-60deg));
		top:210px;
		left: -30px;
	}
}
@include keyframes(openRose3){
	100% {
		@include transform(rotate(60deg));
	}
}

@include keyframes(openRose4){
	100% {
		@include transform(rotate(-30deg));
	}
}
@include keyframes(openRose5){
	100% {
		@include transform(rotate(30deg));
	}
}

@include keyframes(glowing) {
	50% {
		box-shadow: 0px 0px 60px rgba(245, 148, 184, 1);
	}
}
#theSvg {
	width: 110vmin;
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
text {
	fill: #fda091;
	font-family: consolas;
	font-size: 9px;
}
p {
	position: absolute;
	z-index: 2;
}
label {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: .8;
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  height : 97vh;
}
.container1 svg{
    width : 50%;
    height: 50%;
  }

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

  .bubble {
    position: absolute;
    z-index: 200;
    border-radius: 50%;
    
    @for $i from 1 through 40 {
     
      &:nth-child(#{$i}) {
        $size: random(15) * 1vmin;
        top: random(100) * 1%;
        left: random(100) * 1%;
        height: $size;
        width: $size;
        animation: love-burst (.15 * 40 * 1s) infinite .15s * $i - .15s;
        box-shadow: inset 0 0 0 $size / 2 #fff;
        transform: 
          translate(0, random(25) * .05em)
          scale(0);
        transform-origin: center bottom;
      }
      
    }
    
  }

  @keyframes love-burst {
    
    50%,
    100% {
      box-shadow: inset 0 0 0 0 red;
      transform: 
        translate(0, 0)
        scale(1);
    }
    
  }
  
    .heart {
      fill: #fff;
      opacity: 0;
      
      @for $i from 1 through 40 {
     
        .bubble:nth-child(#{$i}) & {
          animation: love (.15 * 40 * 1s) forwards infinite .15s * $i - .15s;
         
          @if $i % 2 == 0 {
            transform: 
              scale(.5)
              rotate(random(50) * 1deg);
          } @else {
            transform: 
              scale(.5)
              rotate(random(35) * -1deg);
          }
          
        }
      
      }

    }

    @keyframes love {
      
      50% {
        fill: red;
        opacity: 1;
      }
      
    }
